@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

.console {
  width: 400px;
  height: 700px;
  overflow: hidden;
  border-radius: 40px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  -webkit-user-select: none;
  user-select: none;

  font-family: Arial, Helvetica, sans-serif;

  .screen {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    background-color: aquamarine;
    text-align: center;

    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .top {
    height: 50%;
    padding-bottom: 20px;
  }

  .bottom {
    height: 50%;
    padding-top: 20px;
    position: relative;
    text-align: center;

    .powerLED {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      left: 0;
      right: 0;
      top: 0;
      position: absolute;
      text-align: right;

      color: rgb(95, 95, 95);

      .item {
        position: relative;
        float: right;
        top: 0;
        bottom: 0;

        font-size: 11px;
      }

      .led {
        margin-left: 8px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgb(255, 75, 30);
      }
    }

    .power {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin: auto;

      .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        background-color: rgb(0, 233, 233);
        border-radius: 50%;
        z-index: -1;
      }
    }

    .pads {
      position: absolute;
      display: flex;
      align-items: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .leftwrapper {
      display: grid;
      grid-template-columns: repeat(3, 50px);
      grid-gap: 0px;
      grid-auto-rows: minmax(50px, 50px);

      padding: 10px;
      border-radius: 50%;
      background-color: rgb(0, 233, 233);

      .up {
        grid-column: 2 / 2;
        grid-row: 1;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .left {
        grid-column: 1 / 1;
        grid-row: 2;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .center {
        grid-column: 2 / 2;
        grid-row: 2;
        border-radius: 0px;
      }
      .right {
        grid-column: 3 / 3;
        grid-row: 2;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      .down {
        grid-column: 2 / 2;
        grid-row: 3;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }
    .rightwrapper {
      margin-left: 60px;
      padding: 10px;
      border-radius: 40px;
      background-color: rgb(0, 233, 233);
      transform: rotate(-20deg);

      display: grid;
      grid-template-columns: repeat(2, 45px);
      grid-gap: 20px;
      grid-auto-rows: minmax(45px, 45px);

      .a {
        grid-column: 1 / 1;
        grid-row: 1;
        border-radius: 50%;
        transform: rotate(20deg);
      }
      .b {
        grid-column: 2 / 2;
        grid-row: 1;
        border-radius: 50%;
        transform: rotate(20deg);
      }
    }

    .bottomMenu {
      position: absolute;
      padding: 10px;
      border-radius: 40px;
      background-color: rgb(0, 233, 233);
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -50%);

      display: grid;
      grid-template-columns: repeat(2, 45px);
      grid-gap: 20px;
      grid-auto-rows: minmax(20px, 20px);

      button {
        font-size: 7px;
        border-radius: 20px;
      }
    }
  }

  button {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    border-radius: 6px;
    transition: 0.3s;
    background-color: rgb(236, 236, 236);
    color: rgb(189, 189, 189);
    font-family: "Arial";

    &:active {
      background-color: rgb(209, 209, 209);
    }
  }
}
