@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
.console {
  width: 400px;
  height: 700px;
  overflow: hidden;
  border-radius: 40px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.console .screen {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  background-color: aquamarine;
  text-align: center;
}

.console .screen .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.console .top {
  height: 50%;
  padding-bottom: 20px;
}

.console .bottom {
  height: 50%;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.console .bottom .powerLED {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  text-align: right;
  color: #5f5f5f;
}

.console .bottom .powerLED .item {
  position: relative;
  float: right;
  top: 0;
  bottom: 0;
  font-size: 11px;
}

.console .bottom .powerLED .led {
  margin-left: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff4b1e;
}

.console .bottom .power {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: auto;
}

.console .bottom .power .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #00e9e9;
  border-radius: 50%;
  z-index: -1;
}

.console .bottom .pads {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.console .bottom .leftwrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[3];
      grid-template-columns: repeat(3, 50px);
  grid-gap: 0px;
  grid-auto-rows: minmax(50px, 50px);
  padding: 10px;
  border-radius: 50%;
  background-color: #00e9e9;
}

.console .bottom .leftwrapper .up {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.console .bottom .leftwrapper .left {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 2;
  grid-row: 2;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.console .bottom .leftwrapper .center {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 2;
  grid-row: 2;
  border-radius: 0px;
}

.console .bottom .leftwrapper .right {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.console .bottom .leftwrapper .down {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 3;
  grid-row: 3;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.console .bottom .rightwrapper {
  margin-left: 60px;
  padding: 10px;
  border-radius: 40px;
  background-color: #00e9e9;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45px)[2];
      grid-template-columns: repeat(2, 45px);
  grid-gap: 20px;
  grid-auto-rows: minmax(45px, 45px);
}

.console .bottom .rightwrapper .a {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.console .bottom .rightwrapper .b {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.console .bottom .bottomMenu {
  position: absolute;
  padding: 10px;
  border-radius: 40px;
  background-color: #00e9e9;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45px)[2];
      grid-template-columns: repeat(2, 45px);
  grid-gap: 20px;
  grid-auto-rows: minmax(20px, 20px);
}

.console .bottom .bottomMenu button {
  font-size: 7px;
  border-radius: 20px;
}

.console button {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ececec;
  color: #bdbdbd;
  font-family: "Arial";
}

.console button:active {
  background-color: #d1d1d1;
}
/*# sourceMappingURL=console.css.map */