@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  white-space: nowrap;
  text-align: center;
  padding: 50px;
  transition: 0.5s;
  color: rgb(52, 166, 251);
}
.gameContainer {
  position: absolute;
  margin-top: 245px;
  width: 380px;
  height: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
}

.cardContainer {
  margin: auto;
  width: 851px;
}

.container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 851px;
  height: 517px;
  z-index: 1;
}

.gameCard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.gameCard img {
  width: 250px;
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}

.actor {
  position: absolute;
}
.coin {
  background: rgb(241, 229, 89);
  border-radius: 50%;
  transform: scale(1.5);
}
.player {
  background: rgb(64, 64, 64);
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 350px;
  position: relative;
  margin: auto;
  transform: translateY(-40px);
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  background: rgba(154, 255, 23, 0.671);
}

.key {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  padding: 7px 11px;
  position: absolute;
  right: 0;
  width: 105px;
}
.key p {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

.messages {
  position: absolute;
  left: 35%;
  right: 2%;
  padding: 10px;
  background-color: white;
  border-radius: 13px;
  font-size: 12px;
  z-index: 1;
  margin-top: 7px;
  box-shadow: 0px 0px 44px -8px rgba(0, 0, 0, 0.247);
  --animate-duration: 1.4s;
}

.heart {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.monster {
  background: pink;
}
